@use "sass:math";

@mixin rotate {
  $SCALARS: (
    15: 15deg,
    45: 45deg,
    90: 90deg,
    180: 180deg,
    -15: -15deg,
    -45: -45deg,
    -90: -90deg
  );
  @each $key, $value in $SCALARS {
    @if $key < 0 {
      .-rotate-#{math.abs($key)} {
        transform: rotate($value);
      }
    } @else {
      .rotate-#{$key} {
        transform: rotate($value);
      }
    }
  }
}
