// skew: generates all skew transformation utilities.

@mixin skew {
  @include skew-x;
  @include skew-y;
}

$SCALARS: (
  6: 6deg,
  12: 12deg,
  neg-6: -6deg,
  neg-12: -12deg
);

// skew-x: generates a sequence of horizontal skew transformation utilities.
// @include skew-x; -> .skew-x-12 { transform: skewX(12); } ...

@mixin skew-x {
  @each $key, $value in $SCALARS {
    .skew-x-#{$key} {
      transform: skewX($value);
    }
  }
}

// skew-y: generates a sequence of vertical skew transformation utilities.
// @include skew-y; -> .skew-y-12 { transform: skewY(12); } ...

@mixin skew-y {
  @each $key, $value in $SCALARS {
    .skew-y-#{$key} {
      transform: skewY($value);
    }
  }
}
