@use "sass:math";

@mixin skew {
  @include skew-x;
  @include skew-y;
}

$SCALARS: (
  6: 6deg,
  12: 12deg,
  -6: -6deg,
  -12: -12deg,
);

@mixin skew-x {
  @each $key, $value in $SCALARS {
    @if $key < 0 {
      .-skew-x-#{math.abs($key)} {
        transform: skewX($value);
      }
    } @else {
      .skew-x-#{$key} {
        transform: skewX($value);
      }
    }
  }
}

@mixin skew-y {
  @each $key, $value in $SCALARS {
    @if $key < 0 {
      .-skew-y-#{math.abs($key)} {
        transform: skewY($value);
      }
    } @else {
      .skew-y-#{$key} {
        transform: skewY($value);
      }
    }
  }
}
