// margin: generates all margin utilities.

@mixin margin {
    @include margin-full;
    @include margin-horizontal;
    @include margin-vertical;
    @include margin-left;
    @include margin-right;
    @include margin-top;
    @include margin-bottom;
}

$SCALARS: (
    0: 0rem, 
    1: 0.25rem, 
    2: 0.5rem, 
    3: 1rem, 
    4: 1.5rem, 
    5: 3rem,
    6: 4rem,
    7: 5rem
);

// margin-full: generates a sequence of margin shorthand utilities.
// @include margin-full; -> .m-1 { margin: 0.25rem; } ...

@mixin margin-full {
    @each $key, $value in $SCALARS {
        .m-#{$key} {
            margin: $value;
        }
    }
}

// margin-horizontal: generates a sequence of horizontal margin utilities.
// @include margin-horizontal; -> .mx-1 { margin-left: 0.25rem; margin-right: 0.25rem; } ...

@mixin margin-horizontal {
    @each $key, $value in $SCALARS {
        .mx-#{$key} {
            margin-left: $value;
            margin-right: $value;
        }
    }
}

// margin-vertical: generates a sequence of vertical margin utilities.
// @include margin-vertical; -> .my-1 { margin-top: 0.25rem; margin-bottom: 0.25rem; } ...

@mixin margin-vertical {
    @each $key, $value in $SCALARS {
        .my-#{$key} {
            margin-top: $value;
            margin-bottom: $value;
        }
    }
}

// margin-left: generates a sequence of margin-left utilities.
// @include margin-left; -> .ml-1 { margin-left: 0.25rem; } ...

@mixin margin-left {
    @each $key, $value in $SCALARS {
        .ml-#{$key} {
            margin-left: $value;
        }
    }
}

// margin-right: generates a sequence of margin-right utilities.
// @include margin-right; -> .mr-1 { margin-right: 0.25rem; } ...

@mixin margin-right {
    @each $key, $value in $SCALARS {
        .mr-#{$key} {
            margin-right: $value;
        }
    }
}

// margin-top: generates a sequence of margin-top utilities.
// @include margin-top; -> .mt-1 { margin-top: 0.25rem; } ...

@mixin margin-top {
    @each $key, $value in $SCALARS {
        .mt-#{$key} {
            margin-top: $value;
        }
    }
}

// margin-bottom: generates a sequence of margin-bottom utilities.
// @include margin-bottom; -> .mb-1 { margin-bottom: 0.25rem; } ...

@mixin margin-bottom {
    @each $key, $value in $SCALARS {
        .mb-#{$key} {
            margin-bottom: $value;
        }
    }
}
