// padding: generates all padding utilities.

@mixin padding {
    @include padding-full;
    @include padding-horizontal;
    @include padding-vertical;
    @include padding-left;
    @include padding-right;
    @include padding-top;
    @include padding-bottom;
}

$SCALARS: (
    0: 0rem, 
    1: 0.25rem, 
    2: 0.5rem, 
    3: 1rem, 
    4: 1.5rem, 
    5: 3rem,
    6: 4rem,
    7: 5rem
);

// padding-full: generates a sequence of padding shorthand utilities.
// @include padding-full; -> .p-1 { padding: 0.25rem; } ...

@mixin padding-full {
    @each $key, $value in $SCALARS {
        .p-#{$key} {
            padding: $value;
        }
    }
}

// padding-horizontal: generates a sequence of horizontal padding utilities.
// @include padding-horizontal; -> .px-1 { padding-left: 0.25rem; padding-right: 0.25rem; } ...

@mixin padding-horizontal {
    @each $key, $value in $SCALARS {
        .px-#{$key} {
            padding-left: $value;
            padding-right: $value;
        }
    }
}

// padding-vertical: generates a sequence of vertical padding utilities.
// @include padding-vertical; -> .py-1 { padding-top: 0.25rem; padding-bottom: 0.25rem; } ...

@mixin padding-vertical {
    @each $key, $value in $SCALARS {
        .py-#{$key} {
            padding-top: $value;
            padding-bottom: $value;
        }
    }
}

// padding-left: generates a sequence of padding-left utilities.
// @include padding-left; -> .pl-1 { padding-left: 0.25rem; } ...

@mixin padding-left {
    @each $key, $value in $SCALARS {
        .pl-#{$key} {
            padding-left: $value;
        }
    }
}

// padding-right: generates a sequence of padding-right utilities.
// @include padding-right; -> .pr-1 { padding-right: 0.25rem; } ...

@mixin padding-right {
    @each $key, $value in $SCALARS {
        .pr-#{$key} {
            padding-right: $value;
        }
    }
}

// padding-top: generates a sequence of padding-top utilities.
// @include padding-top; -> .pt-1 { padding-top: 0.25rem; } ...

@mixin padding-top {
    @each $key, $value in $SCALARS {
        .pt-#{$key} {
            padding-top: $value;
        }
    }
}

// padding-bottom: generates a sequence of padding-bottom utilities.
// @include padding-bottom; -> .pb-1 { padding-bottom: 0.25rem; } ...

@mixin padding-bottom {
    @each $key, $value in $SCALARS {
        .pb-#{$key} {
            padding-bottom: $value;
        }
    }
}
