@mixin border-base {
    .border-transparent {
        border-color: transparent;
    }
    .border-current {
        border-color: currentColor;
    }
    .border-white {
        border-color: #FFF;
    }
    .border-black {
        border-color: #000;
    }
}

// border-colors: generates a series of border colors from a name and color map.
// @include border-colors("red", ( 100: #FFEFEF, 200: #FFDCDC,)); ->
// .border-red-100 { border-color: #FFEFEF; } ...

@mixin border-colors($name, $color-map) {
    @each $key, $value in $color-map {
        .border-#{$name}-#{$key} {
            border-color: $value;
        }
    }
}
