@mixin text-base {
    .text-transparent {
        color: transparent;
    }
    .text-current {
        color: currentColor;
    }
    .text-inherit {
        color: inherit;
    }
    .text-white {
        color: #FFF;
    }
    .text-black {
        color: #000;
    }
}

// text-colors: generates a series of text colors from a name and color map.
// @include text-colors("red", ( 100: #FFEFEF, 200: #FFDCDC )); ->
// .text-red-100 { color: #FFEFEF; } ...

@mixin text-colors($name, $color-map) {
    @each $key, $value in $color-map {
        .text-#{$name}-#{$key} {
            color: $value;
        }
    }
}
