// box-sizing: generates box-sizing utilities.
// @include box-sizing; -> .box-border { box-sizing: border-box; } ...

@mixin box-sizing {
    .box-border {
        box-sizing: border-box;
    }
    .box-content {
        box-sizing: content-box;
    }
}
