// flexbox: generates all flexbox utilities.

@mixin flexbox {
    @include display-flex;
    @include flex-direction;
    @include flex-wrap;
    @include flex-properties;
    @include flex-basis;
}

// display-flex: generates flexbox display utility.
// @include display-flex; -> .flex { display: flex; } 

@mixin display-flex {
    .flex {
        display: flex;
    }
}

// flex-direction: generates a series of flex-direction utilities.
// @include flex-direction; -> .flex-row { flex-direction: row; } ...

@mixin flex-direction {
    .flex-row {
        flex-direction: row;
      }
    .flex-column {
        flex-direction: column;
    }
}

// flex-wrap: generates a series of flex-wrap utilities.
// @include flex-wrap; -> .flex-nowrap { flex-wrap: nowrap; } ...

@mixin flex-wrap {
    .flex-nowrap {
        flex-wrap: nowrap;
      }
    .flex-wrap {
        flex-wrap: wrap;
    }
}

// flex-properties: generates a series of flex shorthand utilities.
// @include flex-properties; -> .flex-1 { flex: 1 1 0%; } ...

@mixin flex-properties {
    // grow: true | shrink: true | initial: false
    .flex-1 {
        flex: 1 1 0%;
    }
    // grow: true | shrink: true | initial: true
    .flex-auto {
        flex: 1 1 auto;
    }
    // grow: false | shrink: true | initial: true
    .flex-initial {
        flex: 0 1 auto;
    }
    // grow: false | shrink: false | initial: true
    .flex-none {
        flex: none;
    }
    // flex-grow
    .flex-grow-0 {
        flex-grow: 0;
    }
    .flex-grow {
        flex-grow: 1;
    }
    // flex-shrink
    .flex-shrink-0 {
        flex-shrink: 0;
    }
    .flex-shrink {
        flex-shrink: 1;
    }
}

// flex-basis: generates a series of flex-basis utilities — 1 through 12, 1/12 to full width.
// @include opacity; -> .opacity-50 { opacity: 0.5; } ...

@mixin flex-basis {
  $SCALARS: (
    1: 8.333333%,
    2: 16.666666%,
    3: 25%,
    4: 33.333333%,
    5: 41.666666%,
    6: 50%,
    7: 58.333333%,
    8: 66.666666%,
    9: 75%,
    10: 83.333333%,
    11: 91.666666%,
    12: 100%
  );
  @each $key, $value in $SCALARS {
    .basis-#{$key} {
      flex-basis: $value;
    }
  }
}
