// float-layout: generates all float utilities.

@mixin float-layout {
    @include float;
    @include clear;
}

// float: generates a series of float utilities.
// @include float; -> .float-right { float: right; } ...

@mixin float {
    .float-right {
        float: right;
    }
    .float-left {
        float: left;
    }
    .float-none {
        float: none;
    }
}

// clear: generates a series of clear utilities.
// @include clear; -> .clear-right { clear: right; } ...

@mixin clear {
    .clear-right {
        clear: right;
    }
    .clear-left {
        clear: left;
    }
    .clear-both {
        clear: both;
    }
    .clear-none {
        clear: none;
    }
}
