@mixin object-layout {
  @include object-fit;
  @include object-position;
}

@mixin object-fit {
  $FITTINGS: (contain, cover, fill, none, scale-down);
  @each $value in $FITTINGS {
    .object-#{$value} {
      object-fit: $value;
    }
  }
}

@mixin object-position {
  $POSITIONS: (center, bottom, top, left, right);
  @each $value in $POSITIONS {
    .object-#{$value} {
      object-position: $value;
    }
    @if $value == left or $value == right {
      .object-#{$value}-top {
        object-position: $value top;
      }
      .object-#{$value}-bottom {
        object-position: $value bottom;
      }
    }
  }
}
