// overflow-layout: generates all overflow-layout utilities.

@mixin overflow-layout {
    @include overflow;
    @include overflow-x;
    @include overflow-y;
}

$PROPERTIES: (
    auto,
    hidden,
    visible,
    scroll,
    clip
);

// overflow: generates a series of overflow utilities.
// @include overflow; -> .overflow-auto { overflow: auto; } ...

@mixin overflow {
    @each $value in $PROPERTIES {
        .overflow-#{$value} {
            overflow: $value;
        }
    }
}

// overflow-x: generates a series of horizontal overflow utilities.
// @include overflow-x; -> .overflow-x-auto { overflow-x: auto; } ...

@mixin overflow-x {
    @each $value in $PROPERTIES {
        .overflow-x-#{$value} {
            overflow-x: $value;
        }
    }
}

// overflow-y: generates a series of vertical overflow utilities.
// @include overflow-y; -> .overflow-y-auto { overflow-y: auto; } ...

@mixin overflow-y {
    @each $value in $PROPERTIES {
        .overflow-y-#{$value} {
            overflow-y: $value
        }
    }
}
