@mixin overflow-layout {
    @include overflow;
    @include overflow-x;
    @include overflow-y;
}

$PROPERTIES: (
    auto,
    hidden,
    visible,
    scroll,
    clip
);

@mixin overflow {
    @each $value in $PROPERTIES {
        .overflow-#{$value} {
            overflow: $value;
        }
    }
}

@mixin overflow-x {
    @each $value in $PROPERTIES {
        .overflow-x-#{$value} {
            overflow-x: $value;
        }
    }
}

@mixin overflow-y {
    @each $value in $PROPERTIES {
        .overflow-y-#{$value} {
            overflow-y: $value
        }
    }
}
