// font-weight: generates a sequence of font-weights.
// @include font-weight; -> .text-normal { font-weight: 400; } ...

@mixin font-weight {
    $SCALARS: (
        thin: 100,
        extralight: 200,
        light: 300,
        normal: 400,
        medium: 500,
        semibold: 600,
        bold: 700,
        extrabold: 800,
        blackbold: 900,
    );
    @each $key, $value in $SCALARS {
        .font-#{$key} {
            font-weight: $value;
        }
    }
}
