// letter-spacing: generates a sequence of letter spacings.
// @include letter-spacing; -> .tracking-tighter { letter-spacing: -0.05em; } ...

@mixin letter-spacing {
    $SCALARS: (
        tighter: -0.05em,
        tight: -0.025em,
        normal: 0em,
        wide: 0.025em,
        wider: 0.05em,
        widest: 0.1em,
    );
    @each $key, $value in $SCALARS {
        .tracking-#{$key} {
            letter-spacing: $value;
        }
    }
}
