@mixin text-decoration {
    $DECORATIONS: (
        underline: underline,
        line-through: line-through,
        "no-underline": none,
    );
    @each $key, $value in $DECORATIONS {
        .#{$key} {
            text-decoration: $value;
        }
    }
}
