// text-transform: generates text-transformation utilities.
// @include text-transformation; -> .uppercase { text-transform: uppercase; } ...

@mixin text-transform {
    $TRANSFORMATIONS: (
        uppercase: uppercase,
        lowercase: lowercase,
        capitalize: capitalize,
        "normal-case": none,
    );
    @each $key, $value in $TRANSFORMATIONS {
        .#{$key} {
            text-transform: $value;
        }
    }
}
