// text-decoration: generates text-decoration utilities.
// @include text-decoration; -> .underline { text-decoration: underline; } ...

@mixin text-decoration {
    $DECORATIONS: (
        underline: underline,
        line-through: line-through,
        "no-underline": none,
    );
    @each $key, $value in $DECORATIONS {
        .#{$key} {
            text-decoration: $value;
        }
    }
}
