// align: generates all alignment utilities.

@mixin align {
    @include align-content;
    @include align-items;
    @include align-self;
}

// align-content: generates a series of align-content utilities.
// @include align-content; -> .content-center { align-content: center; } ...

@mixin align-content {
    $PROPS: (
        center: center,
        start: flex-start,
        end: flex-end,
        between: space-between,
        around: space-around,
        evenly: space-evenly
    );
    @each $key, $value in $PROPS {
        .content-#{$key} {
            align-content: $value;
        }
    }
}

// align-items: generates a series of align-items utilities.
// @include align-items; -> .items-start { align-items: flex-start; } ...

@mixin align-items {
    $PROPS: (
        start: flex-start,
        end: flex-end,
        center: center,
        stretch: stretch,
        baseline: baseline
    );
    @each $key, $value in $PROPS {
        .items-#{$key} {
            align-items: $value;
        }
    }
}

// align-self: generates a series of align-self utilities.
// @include align-self; -> .self-auto { align-self: auto; } ...

@mixin align-self {
    $PROPS: (
        auto: auto,
        start: flex-start,
        end: flex-end,
        center: center,
        stretch: stretch,
        baseline: baseline
    );
    @each $key, $value in $PROPS {
        .self-#{$key} {
            align-self: $value;
        }
    }
}
