// justify: generates all justify utilities.

@mixin justify {
    @include justify-content;
    @include justify-items;
    @include justify-self;
}

// justify-content: generates a series of justify-content utilities.
// @include justify-content; -> .justify-start { justify-content: flex-start; } ...

@mixin justify-content {
    $PROPS: (
        start: flex-start,
        end: flex-end,
        center: center,
        between: space-between,
        around: space-around,
        evenly: space-evenly
    );
    @each $key, $value in $PROPS {
        .justify-#{$key} {
            justify-content: $value;
        }
    }
}

// justify-items: generates a series of justify-items utilities.
// @include justify-items; -> .justify-items-start { justify-items: start; } ...

@mixin justify-items {
    $PROPS: (
        start,
        end,
        center,
        stretch
    );
    @each $value in $PROPS {
        .justify-items-#{$value} {
            justify-items: $value;
        }
    }
}

// justify-self: generates a series of justify-self utilities.
// @include justify-self; -> .justify-self-auto { justify-self: auto; } ...

@mixin justify-self {
    $PROPS: (
        auto,
        start,
        end,
        center,
        stretch
    );
    @each $value in $PROPS {
        .justify-self-#{$value} {
            justify-self: $value;
        }
    }
}
