// place: generates all place utilities.

@mixin place {
    @include place-content;
    @include place-items;
    @include place-self;
}

// place-content: generates a series of place-content utilities.
// @include place-content; -> .place-content-center { place-content: center; } ...

@mixin place-content {
    $PROPS: (
        center: center,
        start: start,
        end: end,
        between: space-between,
        around: space-around,
        evenly: space-evenly,
        stretch: stretch
    );
    @each $key, $value in $PROPS {
        .place-content-#{$key} {
            place-content: $value;
        }
    }
}

// place-items: generates a series of place-items utilities.
// @include place-items; -> .place-items-start { place-items: start; } ...

@mixin place-items {
    $PROPS: (
        start,
        end,
        center,
        stretch
    );
    @each $value in $PROPS {
        .place-items-#{$value} {
            place-items: $value;
        }
    }
}

// place-self: generates a series of place-self utilities.
// @include place-self; -> .place-self { place-self: auto; } ...

@mixin place-self {
    $PROPS: (
        auto,
        start,
        end,
        center,
        stretch
    );
    @each $value in $PROPS {
        .place-self-#{$value} {
            place-self: $value;
        }
    }
}
